h1{
    color: rgb(159, 4, 248);
    text-align: center;
}
h4{
    color: rgb(226, 46, 43);
}
body{
    background-image:url(./images/snakeback.jpeg);
    background-repeat: no-repeat;
    /* background-size: auto; */
    background-size: 1110px 1000px ;
}
